@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f2f2f2;
}

.header-container {
    width: 100%;
    background: rgba(128, 0, 0, 0.479);
    box-shadow: 0px -10px 5px 15px rgba(58, 58, 58, 0.096);
    position: fixed;
    top: 0;
    transition: .2s ease-in-out;
    z-index: 999;
    /* border-bottom: 1px solid rgb(243, 203, 26); */
}
.header-container ul {
    display: flex;
    justify-content: center;
}
.header-container ul a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 15px;
    transition: .2s ease-in-out;
}
.header-container ul a li {
    list-style: none;
}
.header-container ul .active,
.header-container ul .active:hover {
    background: rgb(243, 203, 26);
    color: #000;
}
.header-container ul a:hover {
    background: rgba(165, 38, 38, 0.281);
}
.landing-image {
    /* margin-top: 40px; */
    background: url(../img/bg.png) center/cover no-repeat;
    height: 50vh;
    border-bottom: 3px solid maroon;
}
.owl-stage {
   background: transparent;
}
.announcement-1 {
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 26, 19, 0.73)),
    url(../img/announcement1.jpg) center/cover no-repeat;
    height: 400px;
    width: 100%;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    position: relative;
}
.announcement-2 {
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 26, 19, 0.73)),
    url(../img/announcement2.jpg) center/cover no-repeat;
    height: 400px;
    width: 100%;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    position: relative;
}
.announcement-3 {
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 26, 19, 0.73)),
    url(../img/announcement3.jpg) center/cover no-repeat;
    height: 400px;
    width: 100%;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    position: relative;
}
.announcement-container {
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
}
.announcement-container a {
    text-decoration: none;
}
.tag {
    color: #fff;
    background-color: rgba(128, 0, 0, 0.842);
    padding: 5px 10px;
    width: fit-content;
    border-radius: 3px;
    font-size: 12px;
    margin-top: 0 !important;
}
.announcement-container h1 {
    margin-top: 30px;
}
.announcement-content {
    position: absolute;
    bottom: -20px;
    color: #fff;
}
.owl-carousel .owl-nav button{width:25px; text-align:center; border:1px solid #ccc !important;}
.load-more-announcement i {
    color: #fff;
    margin-top: 30px;
}
.load-more-announcement a{
    background: rgba(128, 0, 0, 0.651);
    color: #fff;
    transition: .2s ease-in-out;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    animation: mymove 2s 0s infinite;
    position: relative;
}
@keyframes mymove {
    0%   {top: 0px;}
    50% {top: -5px;}
    100% {top: 0;}
  }
.load-more-announcement a:hover {
    background-color: maroon;
}
.upcoming-schedule {
    margin: 40px 0;
    padding: 0 10%;
    border-bottom: 1px solid #ccc;
}
.schedule-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
.upcoming-schedule h1 {
    color: maroon;
}
.schedule-header a {
    padding: 5px 20px;
    background: maroon;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    transition: .2s ease-in-out;
}
.schedule-header a:hover {
    background: rgba(128, 0, 0, 0.726);
}
.upcoming-card-header {
    width: 80px;
    height: 50px;
    background: maroon;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.upcoming-card-body {
    width: 80px;
    height: 20px;
    background: rgba(128, 0, 0, 0.603);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.calendar-card {
    color: #fff;
}
.upcoming-container {
    display: flex;
    align-items: center;
    gap: 10px;
    /* min-width: 50%; */
    flex: 50%;
    margin-bottom: 30px;
}
.upcoming-title {
    color: rgb(56, 56, 56);
    text-transform: uppercase;
}
.upcoming-title h5 {
    color: rgb(104, 104, 104);
}
.upcoming-schedule-content {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
}
.footer {
    width: 100%;
    padding: 50px;
    background: #000;
    color: #ccc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
.footer-section {
    display: flex;
    flex-direction: column;
    gap: 5px 15px;
}
.footer-section h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-section span, .footer-section a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
.footer-section .fb, .fa-facebook {
    color: #3b5998;
}
.footer-section .tw, .fa-twitter {
    color:  #00acee;
}
.footer-section .ig, .fa-instagram {
    color:  #d62976;
}

.background-filter::after {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* backdrop-filter: opacity(50%/); */
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.background-filter {
    position: relative;
}

.background {
    background: url(../img/announcement1.jpg) center/cover no-repeat;
    width: auto;
    text-align: justify;
    color: #fff;
}

.u-non-blurred {
    position: relative;
    z-index: 1;
    font-size: 40px;
    text-align: center;
}
.p-non-blurred {
    z-index: 1;
    position: relative;
    text-indent: 30px;
    font-size: 15px;
    padding: 20px 120px;
}
.p-non-blurred a {
    color: #fff;
    background: rgba(128, 0, 0, 0.801);
    padding: 10px 15px;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: .2s ease-in-out;
}
.p-non-blurred.div {
    text-align: center;
    padding-bottom: 30px;
}
.p-non-blurred a i {
    transition: .2s ease-in-out;
}
.p-non-blurred a:hover i {
    margin-left: 5px;
}
.p-non-blurred a:hover {
    background: maroon;
}
/* REGISTRATION PAGE */
.register-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-card {
    margin-top: 50px;
    width: 400px;
    border-radius: 5px;
    padding: 30px 20px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.884);
}
.register-card h1 {
    text-align: center;
    font-size: 20px;
    color: rgb(0, 199, 0);
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.register-title {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.form-input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.form-input .required {
    color: red;
}
.form-input input[type="text"],
.form-input input[type="email"],
.form-input input[type="password"],
.form-input input[type="date"],
.form-input input[type="time"],
.form-input select,
.form-input textarea {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 3px;
    transition: .2s ease-in-out;
    resize: none;
}

.form-input::placeholder {
    color: #ccc;
}

.form-input input:focus,
.form-input select:focus,
.form-input textarea:focus,
.form-input button:focus  {
    border-color: rgba(128, 0, 0, 0.795);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(128, 0, 0, 0.356);
    outline: 0 none;
}

.terms a{
    text-decoration: none;
    color: maroon;
}
.submit-btn button {
    width: 100%;
    background: rgba(128, 0, 0, 0.767);
    outline: none;
    border: 1px solid maroon;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.submit-btn button:hover {
    background: rgba(173, 2, 2, 0.767);
}
.content-container {
    padding: 5%;
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 15px;
}
.content-main {
    background: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    width: 75%;
}
.other-items {
    padding: 10px;
    border-radius: 5px;
    width: 25%;
    background: #fff;
}
.other-items h3 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.announcement-title {
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
}
.announcement-title h4 {
    color: #555;
}
.active {
    color: limegreen;
}
.announcement-description {
    margin: 20px 0;
}
.announcement-description p {
    text-indent: 50px;
    margin: 20px 0;
}
.announcement-description h3 {
    margin: 20px 0;
}
.other-details {
    text-align: right;
}
.other-details p {
    color: #555;
}
.attachment-card {
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 20px 10px;
    display: flex;
    transition: .2s ease-in-out;
    flex-direction: column;
    align-items: center;
    color: #555;
}
.attachment-card:hover {
    background: #eee;
}

.announcement-card {
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 26, 19, 0.73)),
    url(../img/announcement1.jpg) center/cover no-repeat;
    height: 200px;
    width: 100%;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    position: relative;
    margin: 20px 0;
    color: #fff;
}
.announcement-card h4 {
    position: absolute;
    bottom: 40px;
}
.announcement-card p {
    position: absolute;
    bottom: 20px;
    color: #ccc;
    font-size: 12px;
}

.navbar {
    position: fixed;
    width: 100%;
    transition: .2s ease-in-out;
    z-index: 999;
    background: rgba(128, 0, 0, 0.479);
    box-shadow: 0px -10px 5px 15px rgba(58, 58, 58, 0.096);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}
.logo {
    font-size: 32px;
}
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #9b1924;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    list-style: none;
    padding: 5px 14px;
}

.announcements {
    position: relative;
}

.dropdown {
    background-color: rgb(37, 37, 37);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 1000px) {
    .footer {
        text-align: center;
        flex-direction: column;
    }
    .menu {
        display: none;
        position: absolute;
        background-color: rgb(88, 16, 3);
        z-index: 9999;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        margin-top: 10px;
    }

    .nav-links .menu a {
        text-decoration: none;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #000000;
        transition: 0.3s ease;
    }
    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }
    .hamburger {
        display: block;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    .dropdown li:hover {
        background-color: #4c9e9e;
    }
    .p-non-blurred {
        padding: 10px 50px;
    }
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.announcements:hover .dropdown {
    display: block;
}

.about {
    padding-top: 100px;
}

.about-card {
    width: 80%;
    padding: 40px;
    background: #fff;
    margin: auto;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.about-main-title {
    color: maroon;
}

.about-content-main-header{
    margin-top: 30px;
    color: maroon;
}

.about-content-main-body {
    margin-top: 10px;
}

.about-content-main-body p {
    color: #444444;
    margin-bottom: 15px;
}

.about-content-items b {
    color: #000;
}

.about-content-items span {
    color: #444444;
}
.about-divider {
    margin: 15px 0;
    border-bottom: 1px dashed #ccc;
}
.bottom-divider {
    margin: 15px 0;
    color: #444;
}

.list-italic {
    font-style: italic;
}

.list-style {
    font-weight: bold;
    color: maroon !important;
}


.about-main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




@media (max-width: 700px) {
    .p-non-blurred {
        padding: 10px 30px;
    }
    .announcement-container {
        width: 90%;
    }
    .about-card {
        width: 100%;
    }
}